# Diretórios de build
bin/
obj/
.vs/
**/packages/

# Arquivos de usuário e IDE
*.user
*.suo
*.sln.ide
*.DotSettings.user

# Arquivos temporários e logs
*.log
*.tmp

# Pacotes NuGet gerados localmente
*.nupkg
*.snupkg

# Configurações de editor
.editorconfig
.idea/
