<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file-info" xsi:type="File"
            fileName="logs/info.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
    <target name="file-error" xsi:type="File"
            fileName="logs/error.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="file-info" />
    <logger name="*" minlevel="Error" writeTo="file-error" />
  </rules>
</nlog>
