# API
API_PORT=8080
ASPNETCORE_ENVIRONMENT=Development

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# Redis
REDIS_PORT=6379
REDIS_PASSWORD=root
DATABASE__REDIS__KEYPREFIX=authcore:dev

# CORS
CORS__DEVELOPMENTORIGINS__0=http://localhost:3000
CORS__PRODUCTIONORIGINS__0=http://localhost:3000

# JWT
SECURITY__JWT__ISSUER=authcore.Dev
SECURITY__JWT__AUDIENCE=authcore.Dev.client
SECURITY__JWT__EXPIRESINMINUTES=30

# Keys
SECURITY__KEYS__SYMMETRIC__PRIVATEKEY=5BhduiSH6unGEEwqpPowSvfzn3aHLhapcIysAArV8Mf
SECURITY__KEYS__ASYMMETRIC__PRIVATEKEYPATH=/app/key/private.pem
SECURITY__KEYS__ASYMMETRIC__PUBLICKEYPATH=/app/key/public.pem

# RabbitMQ
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=root
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ__EMAILQUEUE=authcore.email
RABBITMQ__DEADLETTERQUEUE=authcore.email.dlq
